
@{
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

@*<div class="row">
    <div class="col-md-12">
            <img src='~/images/1.png' alt='' title='' class='w-100 ' style="background-repeat: no-repeat;background-size:cover;">    
    </div>
</div>*@
@*<div class="img-adjust"></div>*@
