<div class="about_main">
    <div class="services_main">
        <div class="container">
            <div class="creative_taital">
                <h1 class="creative_text"> @Resource.IQRAACentre</h1>
                <p class="text-style">
                    @Resource.IQRAACentreP2
                 <br />
                    @Resource.IQRAACentreP3
                </p>
                <div class="btn_main">
                    @*<button type="button" class="btn btn-dark btn-lg">Get started</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
