<div class="contact_main">
    <div class="commerical-register" >
            <div class="row" style="direction:rtl">
                <div class="col-sm-6 .text-align-r" style="text-align:right">
                    <p class="commerical-register_text"> مركز اقرأ سجل تجاري رقم :   1131305775 </p>
                </div>
                <div class="col-sm-6 text-align-l">
                    <p class="commerical-register_text2">Iqraa Center Commercial Register :1131305775 </p>
                </div>
            </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright_text">© 2021 All Rights Reserved. <a href="">Art Studio</a></p>
                </div>
            </div>
        </div>
    </div>
</div>